{% extends 'webshop/base.html' %}
{% load static %}

{% block content %}
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-section set-bg" data-setbg="{% static 'webshop/img/breadcrumb.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="breadcrumb__text">
            <h2>Shop</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <style>
      input[type="checkbox"] {
          vertical-align: middle;
          transform: scale(1.3);
      }

      .pagination-centered {
          width: 100px;
      }
  </style>

  <!-- Product Section Begin -->
  <section class="product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-5">
          <div class="sidebar">
            <div class="sidebar__item">
              <h4>Department</h4>
              <div class="list-group">
                {% for department in departments %}
                  <label class="list-group-item border-0 pt-0 pb-0">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    {{ department.name }}
                  </label>
                {% endfor %}
              </div>
            </div>
            <div class="sidebar__item">
              <h4>Discount</h4>
              <div class="price-range-wrap">
                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                     data-min="1" data-max="50">
                  <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                  <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                  <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
                <div class="range-slider">
                  <div class="price-input">
                    <input type="text" id="minamount">
                    <input type="text" id="maxamount">
                  </div>
                </div>
              </div>
            </div>
            <div class="sidebar__item">
              <h4>Country of origin</h4>
              <div class="list-group">
                {% for country in countries %}
                  <label class="list-group-item border-0 pt-0 pb-0">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    {{ country.name }}
                  </label>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-7">
          <div class="product__discount">
            <div class="row">
              <div class="col-lg">
                <div class="hero__search mb-0">
                  <div class="hero__search__form" style="width: 100%!important;">
                    <form action="#" id="searchBar">
                      <input id="searchQuery" value="" type="text" placeholder="Search for Products...">
                      <button type="submit" class="site-btn">SEARCH</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="filter__item">
            <div class="row">
              <div class="col-lg-4 col-md-5">
                <div class="filter__sort">
                  <span>Sort by:</span>
                  <select id="orderBy" onchange="searchQuery()">
                    <option value="price">price: low to high</option>
                    <option value="-price">price: high to low</option>
                    <option value="name">name: ascending</option>
                    <option value="-name">name: descending</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-4"></div>
              <div class="col-lg-4 col-md-3">
                <div class="filter__option">
                  <span class="icon_grid-2x2"></span>
                  <span class="icon_ul"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="searchResults">
            <!-- Will be filled with AJAX call -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Section End -->
{% endblock content %}
